body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    transition: background-color 0.3s ease-in-out;
}

header {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #ffcc00;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

section:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #333;
    color: yellowgreen;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    animation: fadeIn 1s ease-in-out;
}

footer a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

footer a:hover {
    text-decoration: underline;
    color: #ffcc00;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
